@using Model
@model IQueryable<UserInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetList</title>
</head>
<body>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>账号</td>
        </tr>
        @foreach (UserInfo item in ViewData["list"] as IQueryable<UserInfo>)
        {

            <tr>
                <td>@item.UName</td>
                <td>@item.UPwd</td>
                <td>@item.Remark</td>
            </tr>
        }
    </table>
</body>
</html>
